@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(15, 15, 15) !important;
    background-image: url(../assets/website-background-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}
.section {
    height: 100vh;
}
.section-content {
    margin: 70px 5vw !important;
}
.section-header {
    display: flex;
    justify-content: space-between;
    margin: 80px 5vw;
    margin-bottom: 0px;
}
.section-title {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #c30084 50%);
}
.icon {
    width: 30px;
    margin-bottom: 5px;
    margin-right: 10px;
}

/* -------------------------------------------------- NAVBAR STYLES START -------------------------------------------------- */

.navbar-brand {
    width: 40px;
}
nav {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(80%) brightness(50%);
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}
/* .links-list {
    margin-left: 64%;
} */
.links-list li {
    margin: 0 12px;
    padding: 0 12px;
}
.nav-link {
    color: white;
    font-family: 'Comfortaa', cursive;
    transition: 0.25s ease-in-out;
}
.nav-link:hover {
    color: #ff9fde;
}
.button {
    border: 1px solid black;
}
.navbar-toggler {
    color: white !important;
    background-image: url("../assets/icons8-menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.navbar-toggler-icon {
    color: white !important;
}
.dropdown-menu {
    background-color: black !important;
}
.dropdown-item {
    color: white !important;
    font-family: 'Comfortaa', cursive;
}
.dropdown-item:hover {
    background-color: #1b1b1b !important;
}

@media only screen  
  and (max-width: 1024px) {
    .links-list, .collapse {
        margin-left: 0px;
        background-color: rgb(15, 15, 15);
        transform: translateX(-10px);
        width: 100vw;
        border-bottom: 1px solid rgb(30, 30, 30);
    }
    nav {
        background-color: rgb(15, 15, 15);
    }
    .nav-link {
        margin: 10px 0;
    }
    .last-link {
        margin-bottom: 20px;
    }
  }

/* !!! ADD CUSTOMIZATIONS FOR DROPDOWNS HERE !!! */

/* !!! ADD CUSTOMIZATIONS FOR TOGGLER HERE !!! */

/* !!! ADD MEDIA QUERIES FOR LINKS HERE !!! */

/* -------------------------------------------------- NAVBAR STYLES END -------------------------------------------------- */

/* -------------------------------------------------- LANDING AREA STYLES START -------------------------------------------------- */

#landing {
    margin: 6vh 5vw;
}
.jumbotron {
    background-color: transparent !important;
    display: flex;
    justify-content: space-between !important;
    height: 100vh;
    /* border: 1px solid red; */
}
.jumbotron .container {
    /* border: 1px solid blue; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8vh;
    font-family: 'Comfortaa', cursive;
}
.jumbotron .layered-graphic {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-bottom: 8vh;
}
.layer {
    top: 8vh;
    right: 5vw;
    /* border: 1px solid aqua; */
    position: absolute;
    width: 38vw;
    opacity: 0;
}
.display-4 {
    font-weight: bold !important;
}
.image1 {
    -webkit-animation: fadeinLoad 0.75s 0.25s forwards;
      animation: fadeinLoad 0.75s 0.25s forwards;
}
.image2 {
    -webkit-animation: fadeinLoad 0.75s 0.5s forwards;
      animation: fadeinLoad 0.75s 0.5s forwards;
}
.image3 {
    -webkit-animation: fadeinLoad 0.75s 0.75s forwards;
      animation: fadeinLoad 0.75s 0.75s forwards;
}
.image4 {
    -webkit-animation: fadeinLoad 0.75s 1s forwards;
      animation: fadeinLoad 0.75s 1s forwards;
}

@-webkit-keyframes fadeinLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeinLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen  
  and (max-width: 1024px) {

    .jumbotron {
        flex-direction: column;
        justify-content: flex-start !important;
    }
    .jumbotron .container {
        width: 100vw;
        display: block;
        transform: translateY(100px);
        text-align: center;
    }
    .jumbotron .layered-graphic {
        margin: 0 auto;
    }
    .layer {
        width: 70vw;
        top: auto;
        right: auto;
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    #landing {
        margin: 8vh 0vw;
    }
    .jumbotron .container h1 {
        font-size: 24pt;
    }
    .jumbotron .container h2 {
        font-size: 16pt;
    }
}

/* !!! ADD MEDIA QUERIES FOR LANDING HERE !!! */

/* -------------------------------------------------- LANDING AREA STYLES END -------------------------------------------------- */

/* -------------------------------------------------- MISSIONS SECTION STYLES START -------------------------------------------------- */

#missions {
    height: 110vh;
    padding-top: 5px;
}
/* .bg-holder {
    width: 100vw;
    height: 30vh;
    background-color: rgb(38, 38, 38);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */
  
/* .bg-holder#parallax-1 {
    background-image: url('../assets/parallax-img-1.jpg');
    background-size: cover;
} */

.card {
    background-color: #161616 !important;
    border: 1px solid #2f2f2f !important;
}
/* #missions .row {
    margin: 70px 4vw !important;
} */
.gallery img {
    height: 200px;
    border-radius: 200px;
    border: 2px solid #ffbdec;
}
.gallery {
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.background-graphic-wave {
    background-image: url(../assets/wave-graphic.svg);
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    transform: translateY(-30px);
}

@media only screen  
  and (max-width: 1024px) {
    .gallery img {
        height: 180px;
        margin: 20px;
    } 
  }
  @media only screen and (max-width: 700px) {
    #missions {
        height: auto;
    }
    .gallery img {
        height: 90px;
        margin: 10px;
    }
    #missions .card {
        margin-bottom: 30px;
    }
    .section-header {
        margin: 20px 5vw;
    }
}

/* -------------------------------------------------- MISSIONS SECTION STYLES END -------------------------------------------------- */

/* -------------------------------------------------- TEAMS SECTION STYLES START -------------------------------------------------- */

/* .bg-holder#parallax-2 {
    background-image: url('../assets/parallax-img-2.jpg');
    background-size: cover;
} */
mark {
    background-color: #960060 !important;
    padding: 2px 5px !important;
    color: white !important;
    border-radius: 3px;
}
.production mark {
    background-color: #ff9fde !important;
    color: black !important;
}
.second-row {
    margin-top: 30px;
}
#home-teams {
    padding-top: 5px;
}
.instructor {
    display: flex;
}
.instructor-pic {
    width: 35px;
    height: 35px;
    border-radius: 100rem;
    border: 1px solid #ff9fde;
}
.instructor p {
    margin: 6px 15px;
    font-size: 10pt;
}
.prod-leads {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .section {
        height: auto;
    }
    #home-teams .card {
        margin-bottom: 30px;
    }
    #home-teams .third {
        margin-bottom: 0 !important;
    }
    #apps .section-content {
        margin-left: 2vw !important;
        margin-right: 2vw !important;
    }
    .prod-leads {
        flex-direction: column;
    }
    .prod-leads .instructor {
        margin-bottom: 10px;
    }
}

/* -------------------------------------------------- TEAMS SECTION STYLES END -------------------------------------------------- */

/* -------------------------------------------------- APPS SECTION STYLES START -------------------------------------------------- */

/* .bg-holder#parallax-3 {
    background-image: url('../assets/parallax-img-3.jpg');
    background-size: cover;
} */
.apps-icon {
    border-radius: 5px;
}
.apps-header {
    display: flex;
    justify-content: space-between;
}
#apps {
    padding-top: 5px;
}

/* -------------------------------------------------- APPS SECTION STYLES END -------------------------------------------------- */

@media only screen  
  and (max-width: 1024px) {
    .app {
        margin-bottom: 30px;
    }
  }

/* -------------------------------------------------- APPLY SECTION STYLES START -------------------------------------------------- */

#quick-apply {
    height: 100vh !important;
}
.apply {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.progress-items {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.progress {
    background-color: transparent !important;
    border: 1px solid white;
    border-radius: 100px !important;
}
.progress-bar {
    background-color: #ff0099 !important;
}
.apply-header {
    text-align: center;
    margin: 40px 0;
    font-family: 'Comfortaa', cursive;
}
.apply-button {
    font-size: 16pt !important;
    margin-bottom: 100px !important;
    padding: 12px 30px !important;
    background-color: #ff0099 !important;
    border: none !important;
    border-radius: 100rem !important;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.timeline-item {
    text-align: center;
}
.timeline-item h5 {
    margin: 0;
    padding: 3px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}
.timeline-item p {
    font-style: italic;
    color: rgb(213, 213, 213);
}
.logo {
    width: 100px;
    margin: 0 auto;
}
.apply-button:hover, .apply-button:focus {
    /* box-shadow: 0 8px 12px rgba(0,0,0,0.1), inset 0 10px 30px rgba(255,147,210,0.3), inset 0 2px 2px rgba(255,255,255,0.2); */
    color: white;
    background-color: #ff40c9 !important; 
    cursor: pointer;
}
.modal-content {
    background-color: rgb(20, 20, 20) !important;
    padding: 20px;
}
.modal-head {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.modal-content .row {
    margin: 15px 0px;
}
.modal-content .card {
    background-color: rgb(30, 30, 30) !important;
}
.req {
    margin: 0;
}
.modal-content ul {
    margin: 0;
}
.team-head {
    display: flex;
    justify-content: space-between;
}
.team-head h5 {
    font-weight: bold;
    margin: 0;
}
.team-head-text p {
    margin-top: 3px;
    margin-bottom:8px;
    font-weight: bold;
}
.modal-apply {
    margin-top: 20px;
    width: 100%;
}
/* .apply-icon {
    width: 25px;
    height: 25px;
} */

@media only screen and (max-width: 700px) {
    .timeline-item h5 {
        font-size: 10pt;
    }
    .timeline-item p {
        font-size: 8pt;
    }
    .modal .card {
        margin-bottom: 30px;
    }
    .second {
        margin-bottom: 0px !important;
    }
}
/* -------------------------------------------------- APPLY SECTION STYLES END -------------------------------------------------- */

/* -------------------------------------------------- CONNECT SECTION STYLES START -------------------------------------------------- */

.social-icon {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}
.social-icon:hover {
    transform: scale(1.2);
}
/* #connect .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.social-media {
    display: flex;
    justify-content: center;
}
/* #connect {
    height: 15vh;
}
.connect-header {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.social-buttons {
    display: flex;
    justify-content: center;
}
.social-buttons .button {
    margin: 10px 15px;
} */

/* -------------------------------------------------- CONNECT SECTION STYLES END -------------------------------------------------- */

/* -------------------------------------------------- FOOTER STYLES START -------------------------------------------------- */

#footer p {
    margin-top: 18px;
    margin-left: 10px;
}
#footer {
    background-image: url(../assets/unc-skyline.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.75;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}
@media only screen  
  and (max-width: 1024px) {
    .footer-content {
        flex-direction: column;
    }
    #footer p {
        text-align: center;
        margin: 0;
        font-size: 10pt;
    }
    .social-icon {
        width: 30px;
        height: 30px;
    }
  }

/* -------------------------------------------------- FOOTER STYLES END -------------------------------------------------- */

/* -------------------------------------------------- BUTTON STYLES START -------------------------------------------------- */

.button {
    color: white;
    border-radius: 100px;
    border: none;
    font-family: 'Comfortaa', cursive;
}
.more-btn {
    padding-top: 12px !important;
}
.chevron {
    height: 18px;
    padding-left: 5px;
    padding-bottom: 2px;
}

.secondary {
    background-color: #63003d !important;
}

.button {
    background: #c30084;
    /* border: 1px solid #c40091; */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out all;
}

.button span {
    position: relative;
    z-index: 2;
}

.button:before {
    background: linear-gradient(transparent 0%, rgba(255,147,210,0.6) 50%, transparent 100%);
    content:'';
    height: 200%;
    position: absolute;
    right: calc(100% + 20px);
    top: -55%;
    transform: rotate(-70deg);
    transition: .6s ease-in-out right;
    width: 80px;
    z-index: 0;
}

.button:hover, .button:focus {
    /* box-shadow: 0 8px 12px rgba(0,0,0,0.1), inset 0 10px 30px rgba(255,147,210,0.3), inset 0 2px 2px rgba(255,255,255,0.2); */
    color: white;
    background-color: #ff0099; 
    cursor: pointer;
}


.button:hover:before {
    right: -100%;
}

/* -------------------------------------------------- BUTTON STYLES END -------------------------------------------------- */
